body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    }

    .center { margin: 0 auto; }
    .content{ margin: 0 auto; width: 960px; }
    .clear { clear: both; }

#header{
    width: 100%;
    background: rgba(0, 0, 0, 0.63);
    height: 80px;
    margin-top: 0px;
    position: fixed;
}

#nav{
    width: 410 px;
    float: right;
    margin-top: 20px;
}

#logo a{
    color: white;
    text-decoration: none;
    float: left;
    font-size: 30px;
    margin-top: 5px;
    color: white;
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
}

#nav ul{
    list-style: none;
    display: block;
    margin: 0 auto;
    list-style: none;
}

#nav li{
    margin-top: 9px;
    float: left;
    padding-left: 21px;
}

#nav li a {
    color: white;
    opacity: .8;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#nav li a.active {
    color: white;
    opacity: 1;
    border-bottom: 2px solid black;
}

#nav li a:hover {
    color: grey;
    opacity: 1;
}

#page1, #page2, #page3, #page4 {
    width: 100%;
}

#page1{
    background: url("piano_background.jpg") 50% 0 no-repeat fixed;
    height: 500px;
    margin: 0;
    padding: 200px 0 260px 0;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page1 h1{
    font-size: 50px;
}

#page1 p{
    font-size: 25px;
}


#page2{
    background-color: rgb(253, 253, 253);
    height:350px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 55px;
    border: 2px solid rgb(0, 0, 0);
}

#page2 p{
    text-align: center;
    margin: 25px 25px 25px 25px;
}

#page2 img{
    float: left;
    width:23%;
    height: auto;
}

#page3{
    background: url("keyboard_laptop.jpg") 50% 0 no-repeat fixed;
    height: 600px;
    margin: 0;
    padding: 200px 0 260px 0;
    background-size: cover;
}


#page4{
    background-color: rgb(255, 255, 255);
    height: 200px;
    margin:0 auto;
    overflow: hidden;
    padding: 25px 0; 
    text-align: center;
}

#page4 p{
    font-family: "Rock Salt", cursive;
    font-size: 35px;
    padding: 0px;
    margin: 15px;
}

#page4 a, img{
    display: inline-block;
    width: 50px;
    height: auto;
    padding-bottom:25px;
    margin-right: 25px;  
}